{% extends "base.html" %}

{% block content %}

<div class="card-body">
    <h4>New Task</h4>
    <div >
        <form method="post">
            {% csrf_token %}
            <label for="title">Task:</label><br>
            <input type="text" id="title" name="title"><br>
            <br>
            <label for="due-date">Due Date:</label><br>
            <input type="date" id="due-date" name="due-date"><br>
            <br>
            <button type="submit">Save</button>
        </form>
    </div>
</div>


{% endblock %}


